---
import Section from "../Section.astro";

import { basics } from "../../../cv-es.json";

const { summary } = basics;

import { useTranslations } from "../i18n/utils.ts";
const t = useTranslations(lang);
---

<Section title="Sobre Mi">
  <p>{summary}</p>
</Section>
