---
import Section from "../Section.astro";

import { basics } from "../../../cv-es.json";

const { summary } = basics;

import { getLangFromUrl, useTranslations } from "../../i18n/utils.ts";
const { currentLocale } = Astro

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section title={ t("section.about")}>
  <p>{summary}</p>
</Section>
