---
import Section from "../Section.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils.ts";
const { currentLocale } = Astro;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import { getI18N } from "@/i18n/index";
const i18n = getI18N({ currentLocale });
const basics = i18n.basics;
---

<footer id="no-print">
  <div id="section">

    <p>{t("footer.inspiredBy")}</p>
    <a href="https://hector711.github.io" target="_blank">{t("footer.myWebPage")}</a>
    <p>{t("footer.madeWith")}</p>
  </div>
  </footer>

<style>
  * {
    /* border: 1px solid rgb(184, 9, 9); */
  }
  footer {
    position: absolute;
    width: 100%;
    /* border: 3px solid var(--darkGrey); */
    box-shadow: var(--shadow-s);

    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: flex-start;
    padding-top: .8rem;
    height: 6.5rem;

    margin-inline: auto;
    transition: all 0.3s ease;
  }
  #section {
    max-width: 700px;
    width: 100%;
    display: flex;
    margin-inline: auto;
    justify-content: space-between;
  }
  #section * {
    display: flex;
    justify-content: center;
    align-items: center;

  }
 
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--softGrey);
    padding: 0 10px;
    height: 40px;
    border-radius: 6px;
    transition: all 0.3s ease;
    /* width: 150px; */
    font-size: 1rem;
    color: var(--softGrey);
  }

  a:hover {
    background: var(--light);
    border: 2px solid var(--softWhite);
  }

  /* @media print {
    nav {
      display: none;
    }
  } */
</style>
