---
import Section from "@/components/Section.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils.ts";
const { currentLocale } = Astro
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import { getI18N } from "@/i18n/index"
const i18n = getI18N({ currentLocale })

const languages = i18n.languages
---
<div id="print">
</div>
<Section title={t("section.languages")}>
  <ul>
    {
      languages.map(({ language, fluency }) => {
        return (
          <li>
            <header>
              <h3>{language}</h3>
              <p>{fluency}</p>
            </header>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  @import url("@/css/variables.css");

  * {
    /* border: 1px solid black; */
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    
  }

  li {
    flex: 1 0 calc(50% - 1rem);
    max-width: 50%;
  }

  header {
    border-radius: 8px;
    border: 1px solid var(--light);
    gap: 16px;
    display: flex;
    flex-direction: row;
    padding: 16px;
    height: 100%;
    margin: 0px;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1rem;
    line-height: 1.2rem;
    padding-bottom: 0;
    bottom: 0;
  }

  /* @media print {
    #print {
      page-break-before: always;
    }
  } */
</style>
