---
import Download from "../../icons/Download.astro";
import Sun from "../../icons/Sun.astro";
import Moon from "../../icons/Moon.astro";
---

<div id="optContainer">
  <a href="./" title="Descarga el CV completo" id="download"><Download /> Descarga</a>

  <div id="switches">
    <a href="./" title="Modo Oscuro">
      <Sun />
      Dark Mode
      <Moon />
    </a>

    <a href="./" title="Cambia el idioma" >Language</a>
  </div>
</div>

<style>
  @import url("../../variables.css");

  * {
    /* border: 1px solid black; */
  }
  #optContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 700px;
    margin-top: 0;
    margin-inline: auto;
    /* padding-block: 0.5rem; */
    padding: 1rem 0 0;
    transition: all 0.3s ease;
  }

  #switches {
    display: flex;
    gap: 2rem;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--softGrey);
    padding: 0 10px;
    height: 40px;
    border-radius: 6px;
    transition: all 0.3s ease;
    width: 140px;
  }

  a:hover {
    background: var(--light);
    border: 2px solid var(--softWhite);
  }
</style>
