---
import Download from "../../icons/Download.astro";
import Sun from "../../icons/Sun.astro";
import Moon from "../../icons/Moon.astro";
import Search from "../../icons/Search.astro";
import SpainFlag from "../../icons/SpainFlag.astro";
import AmericaFlag from "../../icons/AmericaFlag.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import { languages } from '../../i18n/ui';
import { useTranslatedPath, useTranslations, getLangFromUrl } from "../../i18n/utils"
const translatePath = useTranslatedPath(lang)
---


<div id="optContainer">
  <!-- <div> -->
    <div id="left">  
      <!-- Boton Download -->
      <a href="./" id="hidden" title="Descarga el CV completo" id="download"><Download /> {t("download")}</a>
      <!-- Boton Comandos -->
      <!-- <a href="./" id="hidden" title="Comandos" id="download"><Search /> {t("comands")}</a> -->
    </div>
    
  <!-- </div> -->
  <div id="right">
    <!-- boton Dark Mode -->
    <!-- <a href="./" id="hidden" title="Modo Oscuro">
      <Sun />
      <Moon />
    </a> -->
{
  Object.entries(languages).map(([langPrexif, label]) => {
    if(langPrexif == lang)  return <></>
    return (<a id="flags" href={translatePath('/', langPrexif)}><SpainFlag />{label}<AmericaFlag /></a>)
  })
}
  </div>
</div>



<style>
  @import url("../../variables.css");

  * {
    /* border: 1px solid black; */
  }

  #hidden {
    display: none;
  }
  #optContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 700px;
    margin-top: 5px;
    margin-inline: auto;
    /* padding-block: 0.5rem; */
    padding: 1rem 0 0;
    transition: all 0.3s ease;
  }

  #flags {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }


  #left {
    display: flex;
    gap: 2rem;
  }
  #right {
    display: flex;
    gap: 2rem;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--softGrey);
    padding: 0 10px;
    height: 35px;
    border-radius: 6px;
    transition: all 0.3s ease;
    width: 120px;
    font-size: 0.8rem;
    color: var(--softGrey)
  }

  a:hover {
    background: var(--light);
    border: 2px solid var(--softWhite);
  }

  @media print {
    #optContainer {
      display: none;
    }
  }
</style>
