---
import "@fontsource-variable/onest";
interface Props {
  title: string;
}

const { title } = Astro.props;

import Layout from "@/layouts/Layout.astro";
import About from "@/sections/About.astro";
import Education from "@/sections/Education.astro";
import Experience from "@/sections/Experience.astro";
import Hero from "@/sections/Hero.astro";
import Projects from "@/sections/Projects.astro";
import Languages from "@/components/sections/Languages.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import Footer from "@/components/sections/Footer.astro";

import { getI18N } from "@/i18n/index";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title=`${i18n.basics.nickname} Minimalist Portfolio`>
  <main class="animate-fade-in-up">
    <Hero />
    <About />
    <Projects />
    <Education />
    <Languages />
    <Experience />
  </main>

  <Footer />
  <KeyboardManager />
</Layout>
