<!-- ---
import { languages } from '../i18n/ui';
import { useTranslatedPath, useTranslations, getLangFromUrl } from "../i18n/utils"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang)

console.log(languages)
---
{
  Object.entries(languages).map(([langPrexif, label]) => {
    if(langPrexif == lang)  return <></>
    return (<a href={translatePath('/', langPrexif)}>{label}</a>)
  })
} -->


